replicaCount: 1
app:
  image:
    repository: ghcr.io/csu-itmo-2025-2/demo-app
    pullPolicy: Always
    tag: "sha-3903451"
worker:
  image:
    repository: ghcr.io/csu-itmo-2025-2/demo-worker
    pullPolicy: Always
    tag: "sha-e5f8f54"
imagePullSecrets:
  - name: ghcr-secret
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: demo.kubepractice.ru
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - demo.kubepractice.ru
      secretName: demo-prod-secret
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
