replicaCount: 1
app:
  image:
    repository: ghcr.io/csu-itmo-2025-2/demo-app
    pullPolicy: Always
    tag: "sha-cd4b520"
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
worker:
  image:
    repository: ghcr.io/csu-itmo-2025-2/demo-worker
    pullPolicy: Always
    tag: "sha-bf498d0"
  replicaCount: 2
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  pdb:
    enabled: true
    minAvailable: 1
  keda:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    pollingInterval: 30
    cooldownPeriod: 300
    bootstrapServers: my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092
    topic: todos-created
    consumerGroup: demo-worker
    lagThreshold: 10
imagePullSecrets:
  - name: ghcr-secret
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: demo.kubepractice.ru
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - demo.kubepractice.ru
      secretName: demo-prod-secret
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
nodeSelector: {}
tolerations: []
affinity: {}
podAntiAffinity:
  enabled: true
  topologyKey: kubernetes.io/hostname
